<h2> All matches </h2>

<table><tr>
<% (Date.today.beginning_of_week()..Date.today.end_of_week()).each do |day| %>
  <td width="200">
    <h4><%= day.to_formatted_s(:rfc822) %></h4>
    <% if (@matches[day].to_a.length > 0) %>
      <% @matches[day].to_a.each do |match| %>
          <p><%= match.student_1.name %> - <%= match.student_2.name %></p>
      <% end %>
      <%= link_to "Reset matches", admin_matches_path(day: day), method: :create  %>
    <% else %>
      <%= link_to "Create matches", admin_matches_path(day: day), method: :create  %>
    <% end %>
  </td>
<% end %>
</tr></table>
